<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
</head>
<body>
    <h3>Add Chat</h3>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="Who are you?"><br><br>
        <textarea name="msg" id="">Write a msg</textarea><br><br>
        <input type="text" name="to" placeholder="Receiver"><br><br>
        <button>Send</button>
    </form>
</body>
</html>